In [1]:
import pandas as pd
import numpy as np
import re

### 1. Data Exploring for taptap_reviews.csv

In [2]:
df = pd.read_csv(r"D:\GitHubRepos\is6941-ml-social-media\taptap\data\integrated\taptap_reviews.csv")
df.head(10)

,ç”¨æˆ·ID,ç”¨æˆ·å,è¯„åˆ†,è¯„è®ºå†…å®¹,ç‚¹èµæ•°,å‘å¸ƒæ—¶é—´,è®¾å¤‡å‹å·,æ¸¸æˆåç§°
0,696432312,ã€‚ã€‚ã€‚,5,å¯ä»¥ä½“éªŒä¸€ä¸‹ï¼Œå‰§æƒ…ä¸é”™ï¼Œä½†å¯èƒ½ä¼šæœ‰ç‚¹è¿·,NaN,2025-04-05 20:13,OPPO K7xä¸­å›½ç‰ˆ,7_years_from_now
1,679295528,äº‘æ·¡é£è½»,5,å‰§æƒ…å¾ˆå¥½,NaN,2025-04-05 17:35,Honor Play 40 5G,7_years_from_now
2,700357357,qqqqqç¾å¥³,5,åˆºæ¿€ï¼Œæ„Ÿå—åˆ°äº†å‹æƒ…ï¼Œäº²æƒ…ï¼Œè‡ªæˆ‘ï¼Œçˆ±æ…•ï¼Œä¼ æ‰¿ï¼Œç­‰å¾… ï¼Œä¸çº¯çœŸ,1.0,2025-04-04 22:59,OPPO PGGM10,7_years_from_now
3,402380140,User402380140,5,æ¯‹åº¸ç½®ç–‘çš„ç¥ä½œ<br />ç¬¬ä¸€æ¬¡å›æº¯æ—¶é—´çš„æ˜¯è‘µå•Š,2.0,2025-04-03 09:48,Redmi Note 10 Pro,7_years_from_now
4,434114561,ä¸å¿†å¾€äº‹,5,æ²¡æœ‰åˆ«çš„å¯ä»¥è¯´ï¼Œå‰§æƒ…ç¥ä½œ,1.0,2025-04-03 01:08,Vivo V2148A,7_years_from_now
5,651407597,å“ˆå“ˆå“ˆ,5,å¥½å¥½å¥½,1.0,2025-04-01 22:53,æœªæä¾›,7_years_from_now
6,611873270,åŠæŸæµå…‰,5,æ€ä¹ˆä»˜æ¬¾æ€ä¹ˆä»˜æ¬¾æ€ä¹ˆä»˜æ¬¾ï¼ï¼ï¼<br />ç‚¹æ”¯ä»˜é™¤äº†é»‘å±ä¸€å°ä¸‹å°±æ²¡ååº”äº†ï¼ï¼ï¼,1.0,2025-04-01 22:50,æœªæä¾›,7_years_from_now
7,439951893,User439951893,5,ä¸å¤šè¯´,1.0,2025-04-01 20:36,iPad (5th generation),7_years_from_now
8,700099883,ç©ºå…¥,5,å‘œå‘œå‘œå¤ªå¥½ç©äº†ï¼Œæ˜¥äººä½ ä¸€å®šè¦å’Œè‘µåœ¨ä¸€èµ·å•Šå•Šå•Šå•Šå•Šå•Šå•Šå•Šå•Šå•Šå•Šå•ŠğŸ˜­ğŸ˜­ğŸ˜­ğŸ˜­ğŸ˜­ğŸ˜­ğŸ˜­ğŸ˜­ğŸ˜­ğŸ˜­ğŸ˜­ğŸ˜­ğŸ˜­,1.0,2025-04-01 19:51,OPPO Reno 5,7_years_from_now
9,50432703,æ±Ÿç‰¢æ¹¿,5,è™½ç„¶è¿˜æ²¡æœ‰ç©å®Œï¼Œä½†æˆ‘è§‰å¾—è¿™ä¸ªæ¸¸æˆåšçš„æŒºå¥½çš„ï¼Œä¸€å¼€å§‹æˆ‘ä»¥ä¸ºå°±å•çº¯å¸®ä¸»è§’æ˜¥äººæ‰¾å›ä¸¢å¤±çš„è®°å¿†ï¼Œä½†æ˜¯...,1.0,2025-04-01 01:58,Vivo IQOO Neo9,7_years_from_now

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39994 entries, 0 to 39993
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ç”¨æˆ·ID    39994 non-null  int64
 1   ç”¨æˆ·å     39992 non-null  object
 2   è¯„åˆ†      39994 non-null  int64
 3   è¯„è®ºå†…å®¹    39994 non-null  object
 4   ç‚¹èµæ•°     22546 non-null  float64
 5   å‘å¸ƒæ—¶é—´    39994 non-null  object
 6   è®¾å¤‡å‹å·    39994 non-null  object
 7   æ¸¸æˆåç§°    39994 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 2.4+ MB

In [4]:
df.describe()

               ç”¨æˆ·ID            è¯„åˆ†           ç‚¹èµæ•°
count  3.999400e+04  39994.000000  22546.000000
mean   4.024182e+08      3.380107      7.904418
std    2.435491e+08      1.667131     37.209771
min    1.860000e+03      1.000000      1.000000
25%    1.047484e+08      1.000000      1.000000
50%    4.599652e+08      4.000000      2.000000
75%    6.066840e+08      5.000000      5.000000
max    7.116104e+08      5.000000   2855.000000

In [5]:
# ç”¨æˆ·åç¼ºå¤±å¡«å……ä¸º"æœªçŸ¥ç”¨æˆ·"
df['ç”¨æˆ·å'] = df['ç”¨æˆ·å'].fillna('æœªçŸ¥ç”¨æˆ·')
# ç‚¹èµæ•°ç¼ºå¤±å¡«å……ä¸º0
df['ç‚¹èµæ•°'] = df['ç‚¹èµæ•°'].fillna(0)

In [6]:
df['ç‚¹èµæ•°'] = df['ç‚¹èµæ•°'].astype(np.int64)  # ç‚¹èµæ•°è½¬æ•´å‹

In [7]:
# ç¡®ä¿è¯„åˆ†åœ¨1-5èŒƒå›´å†…
df['è¯„åˆ†'] = df['è¯„åˆ†'].clip(1, 5)

In [8]:
# å»é™¤è¯„è®ºä¸­çš„HTMLæ ‡ç­¾
df['è¯„è®ºå†…å®¹'] = df['è¯„è®ºå†…å®¹'].apply(lambda x: re.sub(r'<br\s*/?>', ' ', x))
# ç”¨æˆ·åå»å‰åç©ºæ ¼
df['ç”¨æˆ·å'] = df['ç”¨æˆ·å'].str.strip()

In [9]:
# 5. è®¾å¤‡å‹å·æ ‡å‡†åŒ–
df['è®¾å¤‡å‹å·'] = df['è®¾å¤‡å‹å·'].replace('æœªæä¾›', pd.NA)

In [10]:
# åŸºäºç”¨æˆ·IDå’Œå‘å¸ƒæ—¶é—´å»é‡
df = df.drop_duplicates(subset=['ç”¨æˆ·ID', 'å‘å¸ƒæ—¶é—´'])

In [11]:
df['æƒ…æ„Ÿå€¾å‘'] = np.where(df['è¯„åˆ†'] >= 3, 1, 0)
print(df[['è¯„åˆ†', 'æƒ…æ„Ÿå€¾å‘']].value_counts())

è¯„åˆ†  æƒ…æ„Ÿå€¾å‘
5   1       16845
1   0       10191
4   1        5327
3   1        4181
2   0        3441
Name: count, dtype: int64

In [12]:
# åˆ›å»ºåˆ—åæ˜ å°„å­—å…¸
column_mapping = {
    'ç”¨æˆ·ID': 'user_id',
    'ç”¨æˆ·å': 'username',
    'è¯„åˆ†': 'rating',
    'è¯„è®ºå†…å®¹': 'review_content',
    'ç‚¹èµæ•°': 'likes',
    'å‘å¸ƒæ—¶é—´': 'publish_time',
    'è®¾å¤‡å‹å·': 'device_model',
    'æ¸¸æˆåç§°': 'game_name',
    'æƒ…æ„Ÿå€¾å‘': 'sentiment'
}

# æ‰§è¡Œåˆ—åæ›¿æ¢
df = df.rename(columns=column_mapping)

In [13]:
# ç”¨ "unknown" å¡«å……ç¼ºå¤±å€¼ï¼Œæ˜ç¡®æ ‡è¯†æœªçŸ¥è®¾å¤‡
df['device_model'] = df['device_model'].fillna('unknown')

In [14]:
# é‡ç½®ç´¢å¼•
df = df.reset_index(drop=True)

In [15]:
df.head()

,user_id,username,rating,review_content,likes,publish_time,device_model,game_name,sentiment
0,696432312,ã€‚ã€‚ã€‚,5,å¯ä»¥ä½“éªŒä¸€ä¸‹ï¼Œå‰§æƒ…ä¸é”™ï¼Œä½†å¯èƒ½ä¼šæœ‰ç‚¹è¿·,0,2025-04-05 20:13,OPPO K7xä¸­å›½ç‰ˆ,7_years_from_now,1
1,679295528,äº‘æ·¡é£è½»,5,å‰§æƒ…å¾ˆå¥½,0,2025-04-05 17:35,Honor Play 40 5G,7_years_from_now,1
2,700357357,qqqqqç¾å¥³,5,åˆºæ¿€ï¼Œæ„Ÿå—åˆ°äº†å‹æƒ…ï¼Œäº²æƒ…ï¼Œè‡ªæˆ‘ï¼Œçˆ±æ…•ï¼Œä¼ æ‰¿ï¼Œç­‰å¾… ï¼Œä¸çº¯çœŸ,1,2025-04-04 22:59,OPPO PGGM10,7_years_from_now,1
3,402380140,User402380140,5,æ¯‹åº¸ç½®ç–‘çš„ç¥ä½œ ç¬¬ä¸€æ¬¡å›æº¯æ—¶é—´çš„æ˜¯è‘µå•Š,2,2025-04-03 09:48,Redmi Note 10 Pro,7_years_from_now,1
4,434114561,ä¸å¿†å¾€äº‹,5,æ²¡æœ‰åˆ«çš„å¯ä»¥è¯´ï¼Œå‰§æƒ…ç¥ä½œ,1,2025-04-03 01:08,Vivo V2148A,7_years_from_now,1

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39985 entries, 0 to 39984
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_id         39985 non-null  int64
 1   username        39985 non-null  object
 2   rating          39985 non-null  int64
 3   review_content  39985 non-null  object
 4   likes           39985 non-null  int64
 5   publish_time    39985 non-null  object
 6   device_model    39985 non-null  object
 7   game_name       39985 non-null  object
 8   sentiment       39985 non-null  int64
dtypes: int64(4), object(5)
memory usage: 2.7+ MB

In [17]:
df.describe()

            user_id        rating         likes     sentiment
count  3.998500e+04  39985.000000  39985.000000  39985.000000
mean   4.023951e+08      3.379992      4.456996      0.659072
std    2.435563e+08      1.667205     28.214437      0.474027
min    1.860000e+03      1.000000      0.000000      0.000000
25%    1.047468e+08      1.000000      0.000000      0.000000
50%    4.599568e+08      4.000000      1.000000      1.000000
75%    6.066681e+08      5.000000      2.000000      1.000000
max    7.116104e+08      5.000000   2855.000000      1.000000

In [18]:
df.to_csv(r"D:\GitHubRepos\is6941-ml-social-media\taptap\data\integrated\cleaned_taptap_reviews.csv", encoding='utf-8-sig', index=False)